autogeneration/outputs/xsd-prop-types.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="code" type="xsd:string"/>
	<xsd:element name="pdfId1" type="xsd:string"/>
	<xsd:element name="pdfId0" type="xsd:string"/>
	<xsd:element name="majorlinkerVersion" type="xsd:hexBinary"/>
	<xsd:element name="eventType" type="xsd:string"/>
	<xsd:element name="entropy" type="xsd:float"/>
	<xsd:element name="audioType" type="xsd:string"/>
	<xsd:element name="dataPayloadReferenceURL" type="xsd:string"/>
	<xsd:element name="issuer" type="xsd:string"/>
	<xsd:element name="registryKey" type="xsd:string"/>
	<xsd:element name="mftFileNameRecordChangeTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="filePath" type="xsd:string"/>
	<xsd:element name="columnName" type="xsd:string"/>
	<xsd:element name="englishTranslation" type="xsd:string"/>
	<xsd:element name="subjectAlternativeName" type="xsd:string"/>
	<xsd:element name="httpMessageBodyLength" type="xsd:integer"/>
	<xsd:element name="magic" type="xsd:hexBinary"/>
	<xsd:element name="notes" type="xsd:string"/>
	<xsd:element name="volumeID" type="xsd:string"/>
	<xsd:element name="partitionOffset" type="xsd:long"/>
	<xsd:element name="givenName" type="xsd:string"/>
	<xsd:element name="subjectPublicKeyModulus" type="xsd:string"/>
	<xsd:element name="extSGID" type="xsd:int"/>
	<xsd:element name="street" type="xsd:string"/>
	<xsd:element name="sizeOfStackReserve" type="xsd:hexBinary"/>
	<xsd:element name="callType" type="xsd:string"/>
	<xsd:element name="index" type="xsd:positiveInteger"/>
	<xsd:element name="xMailer" type="xsd:string"/>
	<xsd:element name="rangeOffsetType" type="xsd:string"/>
	<xsd:element name="version" type="xsd:string"/>
	<xsd:element name="diskSize" type="xsd:long"/>
	<xsd:element name="isPrivate" type="xsd:boolean"/>
	<xsd:element name="sizeOfOptionalHeader" type="xsd:hexBinary"/>
	<xsd:element name="addressOfEntryPoint" type="xsd:hexBinary"/>
	<xsd:element name="httpRequestLine" type="xsd:base64Binary"/>
	<xsd:element name="isOptimized" type="xsd:boolean"/>
	<xsd:element name="screenName" type="xsd:string"/>
	<xsd:element name="mftFileID" type="xsd:integer"/>
	<xsd:element name="operatingSystemUsed" type="xsd:string"/>
	<xsd:element name="lastRunTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="sourcePort" type="xsd:integer"/>
	<xsd:element name="path" type="xsd:string"/>
	<xsd:element name="sizeOfHeaders" type="xsd:hexBinary"/>
	<xsd:element name="checksum" type="xsd:hexBinary"/>
	<xsd:element name="delimiter" type="xsd:string"/>
	<xsd:element name="itemValue" type="xsd:string"/>
	<xsd:element name="hashValue" type="xsd:hexBinary"/>
	<xsd:element name="caseNumber" type="xsd:integer"/>
	<xsd:element name="applicationFileName" type="xsd:string"/>
	<xsd:element name="spaceLeft" type="xsd:long"/>
	<xsd:element name="minorLinkerVersion" type="xsd:hexBinary"/>
	<xsd:element name="recurrence" type="xsd:string"/>
	<xsd:element name="baseOfCode" type="xsd:hexBinary"/>
	<xsd:element name="basicContraints" type="xsd:string"/>
	<xsd:element name="isEncrypted" type="xsd:boolean"/>
	<xsd:element name="snapshotID" type="xsd:string"/>
	<xsd:element name="manufacturer" type="xsd:string"/>
	<xsd:element name="type" type="xsd:string"/>
	<xsd:element name="imageBase" type="xsd:hexBinary"/>
	<xsd:element name="destinationPort" type="xsd:integer"/>
	<xsd:element name="mftFlags" type="xsd:integer"/>
	<xsd:element name="dllCharacteristics" type="xsd:hexBinary"/>
	<xsd:element name="passwordLastChanged" type="xsd:dateTimeStamp"/>
	<xsd:element name="isPrivileged" type="xsd:boolean"/>
	<xsd:element name="longitude" type="xsd:float"/>
	<xsd:element name="clusterSize" type="xsd:long"/>
	<xsd:element name="sizeOfCode" type="xsd:hexBinary"/>
	<xsd:element name="cookieName" type="xsd:string"/>
	<xsd:element name="isAllocated" type="xsd:boolean"/>
	<xsd:element name="tag" type="xsd:string"/>
	<xsd:element name="validityNotBefore" type="xsd:dateTimeStamp"/>
	<xsd:element name="machine" type="xsd:hexBinary"/>
	<xsd:element name="phoneNumber" type="xsd:string"/>
	<xsd:element name="sid" type="xsd:string"/>
	<xsd:element name="sectionAlignment" type="xsd:hexBinary"/>
	<xsd:element name="description" type="xsd:string"/>
	<xsd:element name="totalFragments" type="xsd:int"/>
	<xsd:element name="startTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="packagePermission" type="xsd:string"/>
	<xsd:element name="configurationSettingDescription" type="xsd:string"/>
	<xsd:element name="msProductID" type="xsd:string"/>
	<xsd:element name="remindTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="serialNumber" type="xsd:string"/>
	<xsd:element name="startCommandLine" type="xsd:string"/>
	<xsd:element name="extFlags" type="xsd:int"/>
	<xsd:element name="objectID" type="xsd:string"/>
	<xsd:element name="rowCondition" type="xsd:string"/>
	<xsd:element name="volumeIndex" type="xsd:integer"/>
	<xsd:element name="sizeOfHeapReserve" type="xsd:hexBinary"/>
	<xsd:element name="isMultipart" type="xsd:boolean"/>
	<xsd:element name="contactIdentifier" type="xsd:string"/>
	<xsd:element name="totalSpace" type="xsd:long"/>
	<xsd:element name="groupName" type="xsd:string"/>
	<xsd:element name="certificatePolicies" type="xsd:string"/>
	<xsd:element name="isSelfSigned" type="xsd:boolean"/>
	<xsd:element name="latitude" type="xsd:float"/>
	<xsd:element name="lastLoginTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="arguments" type="xsd:string"/>
	<xsd:element name="freeSpace" type="xsd:long"/>
	<xsd:element name="fragmentIndex" type="xsd:int"/>
	<xsd:element name="itemDescription" type="xsd:string"/>
	<xsd:element name="extHardLinkCount" type="xsd:int"/>
	<xsd:element name="policyMappings" type="xsd:string"/>
	<xsd:element name="stringValue" type="xsd:string"/>
	<xsd:element name="validityNotAfter" type="xsd:dateTimeStamp"/>
	<xsd:element name="nameContraints" type="xsd:string"/>
	<xsd:element name="name" type="xsd:string"/>
	<xsd:element name="magicNumber" type="xsd:base64Binary"/>
	<xsd:element name="subjectPublicKeyExponent" type="xsd:integer"/>
	<xsd:element name="mountPoint" type="xsd:string"/>
	<xsd:element name="identifier" type="xsd:string"/>
	<xsd:element name="subsystem" type="xsd:hexBinary"/>
	<xsd:element name="domain" type="xsd:string"/>
	<xsd:element name="bookmarkPath" type="xsd:string"/>
	<xsd:element name="metadataChangedTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="extFileType" type="xsd:int"/>
	<xsd:element name="category" type="xsd:string"/>
	<xsd:element name="timeDateStamp" type="xsd:hexBinary"/>
	<xsd:element name="receivedTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="win32VersionValue" type="xsd:hexBinary"/>
	<xsd:element name="mftFileNameCreatedTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="mftRecordChangeTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="accountLogin" type="xsd:string"/>
	<xsd:element name="applicationName" type="xsd:string"/>
	<xsd:element name="messageText" type="xsd:string"/>
	<xsd:element name="objectGUID" type="xsd:string"/>
	<xsd:element name="bidirectional" type="xsd:boolean"/>
	<xsd:element name="policyConstraints" type="xsd:string"/>
	<xsd:element name="specVersion" type="xsd:string"/>
	<xsd:element name="isActive" type="xsd:boolean"/>
	<xsd:element name="accessedTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="isSecure" type="xsd:boolean"/>
	<xsd:element name="lastName" type="xsd:string"/>
	<xsd:element name="exhibitNumber" type="xsd:string"/>
	<xsd:element name="minorImageVersion" type="xsd:hexBinary"/>
	<xsd:element name="length" type="xsd:integer"/>
	<xsd:element name="rangeSize" type="xsd:positiveInteger"/>
	<xsd:element name="firstRunTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="number" type="xsd:int"/>
	<xsd:element name="imageWidth" type="xsd:positiveInteger"/>
	<xsd:element name="payload" type="xsd:base64Binary"/>
	<xsd:element name="sizeInBytes" type="xsd:positiveInteger"/>
	<xsd:element name="authorizationIdentifier" type="xsd:string"/>
	<xsd:element name="isDisabled" type="xsd:boolean"/>
	<xsd:element name="numberOfLaunches" type="xsd:positiveInteger"/>
	<xsd:element name="priority" type="xsd:string"/>
	<xsd:element name="extSUID" type="xsd:int"/>
	<xsd:element name="isTLD" type="xsd:boolean"/>
	<xsd:element name="bitRate" type="xsd:long"/>
	<xsd:element name="shell" type="xsd:string"/>
	<xsd:element name="mimeClass" type="xsd:string"/>
	<xsd:element name="cpuFamily" type="xsd:string"/>
	<xsd:element name="edition" type="xsd:string"/>
	<xsd:element name="majorImageVersion" type="xsd:hexBinary"/>
	<xsd:element name="createdTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="encryptionIV" type="xsd:hexBinary"/>
	<xsd:element name="country" type="xsd:string"/>
	<xsd:element name="hiveType" type="xsd:string"/>
	<xsd:element name="cookiePath" type="xsd:string"/>
	<xsd:element name="httpMessageBodyData" type="xsd:base64Binary"/>
	<xsd:element name="isDirectory" type="xsd:boolean"/>
	<xsd:element name="contactName" type="xsd:string"/>
	<xsd:element name="softwareLanguage" type="xsd:string"/>
	<xsd:element name="hfsBackupTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="sectorSize" type="xsd:long"/>
	<xsd:element name="majorSubsystemVersion" type="xsd:hexBinary"/>
	<xsd:element name="ntfsHardLinkCount" type="xsd:integer"/>
	<xsd:element name="sessionID" type="xsd:string"/>
	<xsd:element name="rangeOffset" type="xsd:positiveInteger"/>
	<xsd:element name="suspectedOffense" type="xsd:string"/>
	<xsd:element name="accountIssuer" type="xsd:string"/>
	<xsd:element name="displayName" type="xsd:string"/>
	<xsd:element name="ntfsOwnerSID" type="xsd:string"/>
	<xsd:element name="softwareVersionUsed" type="xsd:string"/>
	<xsd:element name="numberOfRVAAndSizes" type="xsd:hexBinary"/>
	<xsd:element name="sizeOfHeapCommit" type="xsd:hexBinary"/>
	<xsd:element name="sectorsPerChunk" type="xsd:integer"/>
	<xsd:element name="contentType" type="xsd:string"/>
	<xsd:element name="pointerToSymbolTable" type="xsd:hexBinary"/>
	<xsd:element name="emailAddress" type="xsd:string"/>
	<xsd:element name="windowsDomain" type="xsd:string"/>
	<xsd:element name="sizeOfUnintialializedData" type="xsd:hexBinary"/>
	<xsd:element name="numberOfSections" type="xsd:hexBinary"/>
	<xsd:element name="partitionIdentifier" type="xsd:int"/>
	<xsd:element name="endTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="signatureAlgorithm" type="xsd:string"/>
	<xsd:element name="numberOfSubkeys" type="xsd:integer"/>
	<xsd:element name="errorGranularity" type="xsd:integer"/>
	<xsd:element name="dataPayload" type="xsd:base64Binary"/>
	<xsd:element name="subject" type="xsd:string"/>
	<xsd:element name="driveLetter" type="xsd:string"/>
	<xsd:element name="impHash" type="xsd:string"/>
	<xsd:element name="firstLoginTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="label" type="xsd:string"/>
	<xsd:element name="mftParentID" type="xsd:integer"/>
	<xsd:element name="partitionLength" type="xsd:int"/>
	<xsd:element name="depEnabled" type="xsd:boolean"/>
	<xsd:element name="key" type="xsd:string"/>
	<xsd:element name="subjectDirectoryAttribute" type="xsd:string"/>
	<xsd:element name="packageName" type="xsd:string"/>
	<xsd:element name="httpRequestHeader" type="xsd:base64Binary"/>
	<xsd:element name="loaderFlags" type="xsd:hexBinary"/>
	<xsd:element name="compressionRatio" type="xsd:double"/>
	<xsd:element name="itemName" type="xsd:string"/>
	<xsd:element name="comment" type="xsd:string"/>
	<xsd:element name="birthDate" type="xsd:dateTimeStamp"/>
	<xsd:element name="minorSubsystemVersion" type="xsd:hexBinary"/>
	<xsd:element name="contactType" type="xsd:string"/>
	<xsd:element name="guid" type="xsd:string"/>
	<xsd:element name="fileAlignment" type="xsd:hexBinary"/>
	<xsd:element name="numberOfSymbols" type="xsd:hexBinary"/>
	<xsd:element name="sizeOfInitializedData" type="xsd:hexBinary"/>
	<xsd:element name="accountIdentifier" type="xsd:string"/>
	<xsd:element name="netBiosName" type="xsd:string"/>
	<xsd:element name="aslrEnabled" type="xsd:boolean"/>
	<xsd:element name="subjectKeyIdentifier" type="xsd:string"/>
	<xsd:element name="acquiryDate" type="xsd:dateTimeStamp"/>
	<xsd:element name="extPermissions" type="xsd:int"/>
	<xsd:element name="encryptedRootPlist" type="xsd:string"/>
	<xsd:element name="value" type="xsd:string"/>
	<xsd:element name="inhibitAnyPolicy" type="xsd:string"/>
	<xsd:element name="region" type="xsd:string"/>
	<xsd:element name="sizeOfStackCommit" type="xsd:hexBinary"/>
	<xsd:element name="characteristics" type="xsd:hexBinary"/>
	<xsd:element name="prefetchHash" type="xsd:string"/>
	<xsd:element name="systemDate" type="xsd:dateTimeStamp"/>
	<xsd:element name="recoveryPassword" type="xsd:string"/>
	<xsd:element name="mftFileNameModifiedTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="subjectPublicKeyAlgorithm" type="xsd:string"/>
	<xsd:element name="postalCode" type="xsd:string"/>
	<xsd:element name="canEscalatePrivs" type="xsd:boolean"/>
	<xsd:element name="timesExecuted" type="xsd:long"/>
	<xsd:element name="sentTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="destinationFlags" type="xsd:string"/>
	<xsd:element name="familyName" type="xsd:string"/>
	<xsd:element name="isRead" type="xsd:boolean"/>
	<xsd:element name="totalRam" type="xsd:string"/>
	<xsd:element name="fileName" type="xsd:string"/>
	<xsd:element name="eventStatus" type="xsd:string"/>
	<xsd:element name="model" type="xsd:string"/>
	<xsd:element name="ipAddress" type="xsd:string"/>
	<xsd:element name="ownerSID" type="xsd:string"/>
	<xsd:element name="extendedKeyUsage" type="xsd:string"/>
	<xsd:element name="privateKeyUsagePeriodNotBefore" type="xsd:dateTimeStamp"/>
	<xsd:element name="messageType" type="xsd:string"/>
	<xsd:element name="privateKeyUsagePeriodNotAfter" type="xsd:dateTimeStamp"/>
	<xsd:element name="middleName" type="xsd:string"/>
	<xsd:element name="crlDistributionPoints" type="xsd:string"/>
	<xsd:element name="keyUsage" type="xsd:string"/>
	<xsd:element name="imageHeight" type="xsd:positiveInteger"/>
	<xsd:element name="expirationTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="sourceFlags" type="xsd:string"/>
	<xsd:element name="vendor" type="xsd:string"/>
	<xsd:element name="format" type="xsd:string"/>
	<xsd:element name="swid" type="xsd:string"/>
	<xsd:element name="modifedTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="password" type="xsd:string"/>
	<xsd:element name="majorOSVersion" type="xsd:hexBinary"/>
	<xsd:element name="mftFileNameAccessedTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="windowsTitle" type="xsd:string"/>
	<xsd:element name="isMimeEncoded" type="xsd:boolean"/>
	<xsd:element name="encryptionKey" type="xsd:hexBinary"/>
	<xsd:element name="tableName" type="xsd:string"/>
	<xsd:element name="extInodeID" type="xsd:int"/>
	<xsd:element name="duration" type="xsd:duration"/>
	<xsd:element name="msProductName" type="xsd:string"/>
	<xsd:element name="bitsPerPixel" type="xsd:integer"/>
	<xsd:element name="extInodeChangeTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="serviceDescription" type="xsd:string"/>
	<xsd:element name="authorityKeyIdentifier" type="xsd:string"/>
	<xsd:element name="issuerAlternativeName" type="xsd:string"/>
	<xsd:element name="byteStringValue" type="xsd:base64Binary"/>
	<xsd:element name="startupKey" type="xsd:base64Binary"/>
	<xsd:element name="extension" type="xsd:string"/>
	<xsd:element name="evidenceNumber" type="xsd:string"/>
	<xsd:element name="asHandle" type="xsd:string"/>
	<xsd:element name="examinerName" type="xsd:string"/>
	<xsd:element name="itemType" type="xsd:string"/>
	<xsd:element name="isServiceAccount" type="xsd:boolean"/>
	<xsd:element name="sizeOfImage" type="xsd:hexBinary"/>
	<xsd:element name="rowIndex" type="xsd:positiveInteger"/>
	<xsd:element name="gid" type="xsd:integer"/>
	<xsd:element name="isHidden" type="xsd:boolean"/>
	<xsd:element name="toolType" type="xsd:string"/>
	<xsd:element name="minorOSVersion" type="xsd:hexBinary"/>
	<xsd:element name="biosVersion" type="xsd:string"/>
	<xsd:element name="firstName" type="xsd:string"/>
	<xsd:element name="ntfsOwnerID" type="xsd:string"/>
	<xsd:element name="extDeletionTime" type="xsd:dateTimeStamp"/>
	<xsd:element name="contentDisposition" type="xsd:string"/>
	<xsd:element name="pid" type="xsd:integer"/>
	<xsd:element name="mftFileNameLength" type="xsd:integer"/>
	<xsd:element name="alternateDataStream" type="xsd:string"/>
	<xsd:element name="locality" type="xsd:string"/>
	<xsd:element name="receivedLine" type="xsd:string"/>
	<xsd:element name="applicationIdentifier" type="xsd:string"/>
	<xsd:element name="update" type="xsd:string"/>
	<xsd:element name="visitCount" type="xsd:int"/>
	<xsd:element name="kindOfRelationship" type="xsd:string"/>
	<xsd:element name="spaceUsed" type="xsd:long"/>
</xsd:schema>